.login-container {
    background-color: var(--card-bg);
    width: 100%;
    max-width: 420px;
    border-radius:var(--border-radius);
    box-shadow:var(--box-shadow);
    padding:2.5rem;
    position: relative;
    overflow: hidden;
}

.login-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, var(--primary-color),#9c88ff;

}

header {
    margin-bottom: 2rem;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
   color: var(--primary-color);
}

.subtitle {
    color: var(--text-secundary);
    font-size: 0.95rem;
}

label {
    display: flex;
    margin-bottom: 0.5rem;
    color: var(--text-primary);
    font-size: 0.9rem;
    font-weight: 500;
}
